<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Trishastik Bharat Sustainable Farms</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="/stylesheet/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-slate-600">
    <%- include("./includes/navbar.ejs") %>
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white"><h1 class="text-4xl md:text-6xl font-bold"><%- include("./includes/flash.ejs") %></h1></div>
    
    <section class="py-16 bg-white">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-8 text-gray-800">About Us</h2>
            <p class="text-lg text-gray-600 mb-8">At Trishastik Bharat Sustainable Farms, we are passionate about creating a healthier, greener future for our community and the environment. Our mission is to promote sustainable farming practices that not only provide fresh, organic produce but also preserve the earth for future generations. We believe in the power of nature to nourish, heal, and sustain, and we work every day to cultivate the best organic products, grown with care and respect for the environment.</p>

            <p class="text-lg text-gray-600 mb-8">Our journey begins with the farmers. By empowering local farmers with knowledge and tools to implement sustainable farming techniques, we help them improve their yields, reduce dependency on harmful chemicals, and create more resilient crops. In return, we build a healthier ecosystem, promote biodiversity, and contribute to the overall well-being of the community. Trishastik Bharat Sustainable Farms isn't just a business; it's a movement towards a more sustainable and harmonious world.</p>
            
            <p class="text-lg text-gray-600 mb-8">We take pride in offering a wide range of organic products that are not only good for you but are also grown in ways that protect and regenerate the land. When you shop with us, you’re not just supporting a farm – you’re investing in the future of sustainable agriculture and a better world for all.</p>
            
        </div>
    </section>

    <%- include("./includes/footer.ejs") %>
    
</body>
</html>
